{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
    <title>Task List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'kanban/colors.css' %}">
</head>
<body>

    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-auto p-0">
                {% include "kanban/sidebar.html" %}
            </div>
            <div class="col">
                <h1>All Tasks</h1>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Created At</th>
                            <th>Updated At</th>
                            <th>Due Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                        <tr>
                            <td>{{ task.title }}</td>
                            <td>{{ task.description }}</td>
                            <td>{{ task.get_status_display }}</td>
                            <td>{{ task.created_at }}</td>
                            <td>{{ task.updated_at }}</td>
                            <td>{{ task.due_date }}</td>
                            <td>
                                <a href="{% url 'edit_task' task.pk %}" class="btn btn-sm btn-primary">Edit</a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="7" class="text-center">No tasks available.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>
